.opv-resource-error-input {
    border-color: var(--background-modifier-error) !important;
    border-width: 2px !important;
}

.opv-remote-label {
    position: absolute;
    font-size: 0.8em;
    padding: 2px 4px;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    /* pointer-events: none; */
    translate: 0 0;
    transform: translate(0, -100%);
    transition: transform 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: max-content;
    white-space: nowrap;
}

.opv-remote-label.opv-align-right {
    translate: -100% 0;
    transform: translate(0, -100%);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
}

.opv-remote-label:hover {
    translate: 0 0;
    transform: translate(0, 100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}

.opv-remote-label.opv-align-right:hover {
    translate: -100% 0;
    transform: translate(0, 100%) !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
}

.opv-remote-caret {
    pointer-events: none;;
}

.cm-widgetBuffer {
    position: relative;
}
